[[source]]
verify_ssl = true
name = "pypi"
url = "https://pypi.python.org/simple"

[packages]
requests = "*"
redis = "*"
"boto3" = "*"
dotenv = "*"
python-dotenv = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.7"
